video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.App {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

.container {
	display: flex;
	justify-content: center;
}
.search {
	border: 0;
	outline: 0;
	padding: 18px 20px;
	width: 100%;
	background: #fff;
	color: #a3a3a3;
	border-radius: 12px;
}
button {
	border: none;
	cursor: pointer;
	border-radius: 12px;
	background: #fff;
}
table {
	margin: 15px auto;
  background: #fff;
}
th,
td {
	border: 1px solid #a3a3a3;
	margin: 0px 0px;
	padding: 5px 5px;
}
